body {
  font-family: "Quicksand", sans-serif;
  color: #171717;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  line-height: 1.95rem;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.7rem;
  }
}

body {
  background-color: #F9F7F9;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: none;
  align-items: center;
}

.home .content {
  width: 100%;
  background-color: #9BD1F7;
  border-top: 3px solid #9BD1F7;
  border-bottom: 3px solid #9BD1F7;
  padding: 2rem 0;
  padding-left: 10%;
  transition: background-color 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.home .content .intro {
  margin-bottom: 1rem;
}

.home .content h1 {
  display: inline;
}

.home .content #chentian {
  color: #F9F7F9;
  transition: color 0.2s ease-out;
}

.about {
  width: 80%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
}

.about h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.about .underline {
  border-bottom: 3px solid #FFCAD4;
  cursor: pointer;
  transition: border 0.2s ease-out;
}

.projects {
  width: 80%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  align-items: stretch;
}

.projects h1 {
  margin: 0 1%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.projects .content {
  display: flex;
  flex-wrap: wrap;
}

.projects .content .project {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 200px;
  height: 250px;
  margin: 1%;
  padding: 0 1rem;
  transition: background-color 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .content .project h2 {
  text-align: center;
}

.projects .content .project .links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.projects .content .project .links p {
  border-radius: 10px;
  background-color: #ACF39D;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.display_flex {
  display: flex;
}

.no_scroll {
  overflow: hidden;
}

@media (min-width: 992px) {
  .home .content {
    background-color: #F9F7F9;
  }
  .home .content #chentian {
    color: #9BD1F7;
  }
  .home .content:hover {
    background-color: #9BD1F7;
  }
  .home .content:hover #chentian {
    color: #F9F7F9;
  }
  .projects .content .project .links p:hover {
    transform: scale(1.1);
  }
  .about .underline:hover {
    border-bottom: 3px solid #929092;
  }
}

.burger_box {
  position: fixed;
  width: 4rem;
  height: 4rem;
  right: 5px;
  top: 0;
  z-index: 2;
}

.burger_box .wrapper {
  position: absolute;
  width: 80%;
  height: 60%;
  left: 10%;
  top: 20%;
  cursor: pointer;
}

.burger_box .wrapper .top_wrap, .burger_box .wrapper .mid_wrap, .burger_box .wrapper .bottom_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.burger_box .wrapper .top_wrap .top, .burger_box .wrapper .top_wrap .mid, .burger_box .wrapper .top_wrap .bottom, .burger_box .wrapper .mid_wrap .top, .burger_box .wrapper .mid_wrap .mid, .burger_box .wrapper .mid_wrap .bottom, .burger_box .wrapper .bottom_wrap .top, .burger_box .wrapper .bottom_wrap .mid, .burger_box .wrapper .bottom_wrap .bottom {
  background-color: #171717;
  position: absolute;
  width: 100%;
  height: 20%;
  border-radius: 20px;
  transition: inherit;
  transform-origin: 50%;
}

.burger_box .wrapper .top_wrap .top, .burger_box .wrapper .mid_wrap .top, .burger_box .wrapper .bottom_wrap .top {
  top: 0;
}

.burger_box .wrapper .top_wrap .mid, .burger_box .wrapper .mid_wrap .mid, .burger_box .wrapper .bottom_wrap .mid {
  top: 40%;
}

.burger_box .wrapper .top_wrap .bottom, .burger_box .wrapper .mid_wrap .bottom, .burger_box .wrapper .bottom_wrap .bottom {
  bottom: 0;
}

.burger_box .wrapper .x.top_wrap {
  transform: translate(0, 40%);
}

.burger_box .wrapper .x.top_wrap .top {
  transform: rotate(225deg);
}

.burger_box .wrapper .x.mid {
  background-color: transparent !important;
}

.burger_box .wrapper .x.bottom_wrap {
  transform: translate(0, -40%);
}

.burger_box .wrapper .x.bottom_wrap .bottom {
  transform: rotate(-225deg);
}

.overlay {
  opacity: 0;
  z-index: -1;
  background-color: #929092;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.overlay .nav h2 {
  flex-basis: 6rem;
  text-align: center;
  margin: 1rem 3rem;
  cursor: default;
  transition: color 0.2s ease-out;
}

.overlay footer {
  position: absolute;
  bottom: 3%;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.overlay footer .line {
  width: 5%;
  border-top: 2px solid rgba(72, 70, 72, 0.3);
}

.overlay footer .icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay footer .icons i {
  margin: 0 0.5%;
  cursor: default;
  transition: transform 0.2s ease-out;
}

.overlay footer .icons .icon-github:before {
  color: #24292e;
}

.overlay footer .icons .icon-linkedin:before {
  color: #0084bf;
}

.overlay footer .icons .icon-email:before {
  color: #0072c6;
}

.show_overlay {
  opacity: 1;
  z-index: 1;
}

.show_overlay h2 {
  cursor: pointer !important;
}

.show_overlay i {
  cursor: pointer !important;
}

.home_color {
  background-color: #9BD1F7 !important;
}

.about_color {
  background-color: #FFCAD4 !important;
}

.projects_color {
  background-color: #ACF39D !important;
}

@media (min-width: 992px) {
  .overlay footer .icons i:hover {
    transform: scale(1.3);
  }
}
