body {
  background-color: $white;
}

.home {
  width: 100%;
  min-height: 100vh;

  display: none;
  align-items: center;

  .content{
    width: 100%;
    background-color: $blue;
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;

    padding: 2rem 0;
    padding-left: 10%;
    @include ease_out(background-color);

    display: flex;
    flex-direction: column;

    .intro {
      margin-bottom: 1rem;
    }

    h1 {
      display: inline;
    }

    #chentian {
      color: $white;
      @include ease_out(color);
    }
  }
}

.about {
  width: 80%;
  margin: 0 auto;

  display: none;
  flex-direction: column;

  h1 {
    margin-top: $h1;
    margin-bottom: $h1/2;
  }

  .underline {
    border-bottom: 3px solid $pink;
    cursor: pointer;
    @include ease_out(border);
  }
}

.projects {
  width: 80%;
  margin: 0 auto;

  display: none;
  flex-direction: column;
  align-items: stretch;

  h1 {
    margin: 0 1%;
    margin-top: $h1;
    margin-bottom: $h1/2;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .project {
      @include colored_border(rgba(0,0,0,0.1));
      flex-grow: 1;
      flex-basis: 200px;
      height: 250px;
      margin: 1%;
      padding: 0 1rem;
      @include ease_out(background-color);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
      }

      .links {
        margin-top: 1rem;

        display: flex;
        justify-content: space-between;

        p {
          border-radius: 10px;
          background-color: $green;
          text-align: center;
          margin: 0 0.5rem;
          padding: 0.5rem;
          cursor: pointer;
          @include ease_out(transform);
        }
      }
    }
  }
}

.display_flex {
  display: flex;
}

.no_scroll {
  overflow: hidden;
  touch-action: none;
}

@media (min-width: $large) {
  .home .content {
    background-color: $white;

    #chentian {
      color: $blue;
    }
  }
  .home .content:hover {
    background-color: $blue;

    #chentian {
      color: $white;
    }
  }

  .projects .content .project .links p:hover {
    transform: scale(1.1);
  }

  .about .underline:hover {
    border-bottom: 3px solid $gray;
  }
}
