.burger_box {
  position: fixed;
  width: $h1;
  height: $h1;
  right: 5px;
  top: 0;
  z-index: 2;

  .wrapper {
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    cursor: pointer;

    .top_wrap,.mid_wrap,.bottom_wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      @include ease_out(all);

      .top,.mid,.bottom {
        background-color: $color10;
        position: absolute;
        width: 100%;
        height: 20%;
        border-radius: 20px;
        transition: inherit;
        transform-origin: 50%;
      }

      .top {
        top: 0;
      }

      .mid {
        top: 40%;
      }

      .bottom {
        bottom: 0;
      }
    }

    .x {
      &.top_wrap {
        transform: translate(0, 40%);
        .top {
          transform: rotate(225deg);
        }
      }

      &.mid {
        background-color: transparent !important;
      }

      &.bottom_wrap {
        transform: translate(0, -40%);
        .bottom {
          transform: rotate(-225deg);
        }
      }
    }
  }
}

.overlay {
  opacity: 0;
  z-index: -1;
  background-color: $color8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include ease_out(all);

  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h2 {
      flex-basis: 6rem;
      text-align: center;
      margin: 1rem 3rem;
      cursor: default;
      @include ease_out(color);
    }
  }

  footer {
    position: absolute;
    bottom: 3%;
    width: 100%;
    height: 17%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .line {
      width: 5%;
      border-top: 2px solid rgba(72,70,72, 0.3);
    }

    .icons {
      width: 100%;

      display: flex;
      justify-content: center;

      i {
        margin: 0 0.5%;
        cursor: default;
        @include ease_out(transform);
      }

      .icon-github:before {
        color: #24292e;
      }

      .icon-linkedin:before {
        color: #0084bf;
      }

      .icon-email:before {
        color: #0072c6;
      }
    }
  }

}

.show_overlay {
  opacity: 1;
  z-index: 1;

  h2 {
    cursor: pointer !important;
  }

  i {
    cursor: pointer !important;
  }
}

.home_color {
  background-color: $color2 !important;
}

.about_color {
  background-color: $color1 !important;
}

.projects_color {
  background-color: $color4 !important;
}

.resume_color {
  background-color: $color6 !important;
}

@media (min-width: $large) {
  .overlay footer .icons i:hover {
    transform: scale(1.3);
  }
}
